﻿@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("Create","OnBoarding", new { Category = "Exhibitor" })"><button type="button" class="btn"><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;OnBoard Exhibitor</button></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Create","OnBoarding",new { Category = "Enterprenuer" })"><button type="button" class="btn"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;OnBoard Entrepreneur</button></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Create","OnBoarding",new { Category = "Producer" })"><button type="button" class="btn"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;OnBoard Producer</button></a>

            </div>
        </div>
        <br />
        <table id="tblCustomer" class="cell-border" cellspacing="0" width="100%">
            <thead>
                <tr style="  color:white;background-color:rgba(52, 73, 94, 1);">
                    <th>Theatre Name </th>
                    <th>Email </th>
                    <th>Mobile</th>
                    <th>USC</th>
                    <th>Category</th>
                    <th>Boarding Status</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- Logout Modal-->
        <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>                     
                    </div>
                    <div class="modal-body">Are you sure to delete?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger" id="lnkDelete" href="@Url.Action("Delete","OnBoarding")" >Delete</a>
                    </div>
                </div>
            </div>
        </div>
        @*<!-- Bootstrap core JavaScript-->
        <script src="~/Content/resources/screen1/js/jquery.min.js"></script>
        <script src="~/Content/resources/screen1/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/resources/screen1/js/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Content/resources/screen1/js/Chart.min.js"></script>
        <script src="~/Content/resources/screen1/js/jquery.dataTables.js"></script>
        <script src="~/Content/resources/screen1/js/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/resources/screen1/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Content/resources/screen1/js/sb-admin-datatables.min.js"></script>
        <script src="~/Content/resources/screen1/js/sb-admin-charts.min.js"></script>*@
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">

    $(document).ready(function () {
        var i = 1;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/OnBoarding/GetGridData/",
            success: function (data) {
                var result = $('#tblCustomer').DataTable(
                {
                    "destroy": true,
                    "processing": true,
                    "serverSide": false,
                    "searching": true,
                        "data": data.Data,
                        "columns": [
                            { "data": "TheatreName" },
                            { "data": "Email" },
                            { "data": "Mobile" },
                            { "data": "USC" },
                             { "data": "Category" },
                            { "data": "Country" },                         
                            { "data": "CreatedOn" },
                              {
                                "data": null,
                                "render": function (data, type, row) {
                                    var editUrl = '@Url.Action("AboutTheatre", "OnBoarding" )/' + data.Id + '?Category=' + data.Category;
                                    var deleteUrl = '@Url.Action("Edit", "OnBoarding",new { @id = "triggerdelete"})/' + '?Category=' + data.Category;
                                    return '<a href=\"' + editUrl + '\"> <span class=\"glyphicon glyphicon-edit\"></span></a> &nbsp;&nbsp;&nbsp; <a   data-toggle=\'modal\'  data-target=\'#deleteModel\'  href=\"' + deleteUrl +'\"> <span class=\"glyphicon glyphicon-trash\"></span></a>';
                                }
                            },
                        ]
                    });

            }
        } );

    });

    $("#triggerdelete").click(function () {
        alert($(this).attr('href'))
    })

</script>