﻿@{
    ViewBag.Title = "Admin Dashboard";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">

            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <center><i class="fa fa-users extraClass" aria-hidden="true"></i></center>
                        <br>
                        <center><h6 class="card-subtitle mb-2">SALES AGENTS</h6></center>
                     
                        <center><h3> @ViewBag.SalesAgent</h3></center>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <center><i class="fa fa-suitcase extraClass" aria-hidden="true"></i></center>
                        <br>
                        <center><h6 class="card-subtitle mb-2">EXHIBITORS</h6></center>
                        <center><h3>@ViewBag.Exhibitor</h3></center>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <center><i class="fa fa-inr extraClass" aria-hidden="true"></i></center>
                        <br>
                        <center><h6 class="card-subtitle mb-2">PRODUCERS</h6></center>
                        <center><h3>@ViewBag.Producer</h3></center>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <center><i class="fa fa-male extraClass" aria-hidden="true"></i></center>
                        <br>
                        <center> <h6 class="card-subtitle mb-2">ENTREPRENEURS</h6></center>
                        <center><h3>@ViewBag.Enterprenuer</h3></center>
                    </div>
                </div>
            </div>
        </div>





        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end this session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btn2">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Index","Admin")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/resources/screen1/js/jquery.min.js"></script>
        <script src="~/Content/resources/screen1/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/resources/screen1/js/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Content/resources/screen1/js/Chart.min.js"></script>
        <script src="~/Content/resources/screen1/js/jquery.dataTables.js"></script>
        <script src="~/Content/resources/screen1/js/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/resources/screen1/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Content/resources/screen1/js/sb-admin-datatables.min.js"></script>
        <script src="~/Content/resources/screen1/js/sb-admin-charts.min.js"></script>
    </div>
</div>
