﻿@model SNS.ViewModels.AboutTheatreVM


<style type="text/css">
    
</style>
<div class="form-title-row">
    <h1>About Theatre</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5 text-right">
            Theatre Name :
        </div>
        <div class="col-xs-7 text-right">
            @Html.DisplayFor(model => model.TheatreName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TheatreName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right" style="vertical-align:central">
            Address :
        </div>
        <div class="col-xs-7 text-right">
            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            Theatre Type :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            Staff Strength :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.Strength, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            F&B Business :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.Bussiness, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            F&B Business :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.Bussiness, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            Other Amenities :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.OtherAmenities, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            Ownership :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.Ownership, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 text-right">
            Contact Details :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.ContactDetails, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
</div>
<input type="button" name="next" class="next action-button" value="Next" />
