﻿@model SNS.ViewModels.AboutOtherThingsVM

<div class="form-title-row">
    <h1>About  Other Things</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            About Publicity :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutPublicity, new { htmlAttributes = new { @class = "form-control" } })        
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Posters :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutPosters, new { htmlAttributes = new { @class = "checkbox" } })
         
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Distributors :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutDistributors, new { htmlAttributes = new { @class = "form-control" } })
          
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Producer Deals :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutProducerDeals, new { htmlAttributes = new { @class = "form-control" } })
       
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Occupancy Levels :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutOccupancyLevels, new { htmlAttributes = new { @class = "form-control" } })      
        </div>
    </div>
     
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="submit" name="submit" value="Submit" onClick="window.location.href='sampleController.htm?action=customers'" />