﻿@model SNS.ViewModels.AboutInventoryVM

<div class="form-title-row">
    <h1>About The Inventory</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5 text-right">
            Total Capacity :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.TotalCapacity, new { htmlAttributes = new { @class = "form-control" } })
        
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-3 text-right" style="vertical-align:central">
            Stall :
        </div>
        <div class="col-xs-2">
            @Html.CheckBoxFor(model => model.Stall, new { htmlAttributes = new { @class = "checkbox" } })
          
        </div>
        <div class="col-xs-2">
            <input type="text" /> 
        </div>
        <div class="col-xs-2">
            <input type="text" />
        </div>
        </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
           U Stall :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.UStall, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Dress Circle :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.DressCircle, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Balcony :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.Stall, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 control-label">
            Box :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.Box, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
 
    <br />
    <div class="row">
        <div class="col-xs-5">
            Spl. Event Price(If) :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.SplEventPrice, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Avg. Price Realization :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AvgPriceRealization, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>   
    <br />
    <div class="row">
        <div class="col-xs-5">
            % of Walk-In Vs. Advance :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.PercentageWalkVsAdvance, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-xs-5">
            Occupancy for break even show :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.EvenShow, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Minimum Rent Expectations:
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.MinRentExpectation, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />