﻿@model SNS.ViewModels.AboutLocalInsightVM

<div class="form-title-row">
    <h1>About Local Insights</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            Successful Genres :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.SuccessfulGenres, new { htmlAttributes = new { @class = "form-control" } })          
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Best Release Period :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.BestReleasePeriod, new { htmlAttributes = new { @class = "form-control" } })
            
        </div>
        </div>
    
    <br />
    <div class="row">
        <div class="col-xs-5">
            Worst Release Period :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.WorstReleasePeriod, new { htmlAttributes = new { @class = "form-control" } })
           
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            List Successful Stars :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.ListSuccessfulStar, new { htmlAttributes = new { @class = "form-control" } })        

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            About Regional Films :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutRegionalFilms, new { htmlAttributes = new { @class = "form-control" } })
         
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 control-label">
            About English Films :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutEnglishFilms, new { htmlAttributes = new { @class = "form-control" } })
       
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            About Dubbed Films :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AboutDubbedFilms, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Unique Case :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.UniqueCases, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            Business Insight :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.BusinessInsight, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            Future Assessment :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.FutureAssessment, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />