﻿@model SNS.ViewModels.AboutTechnologyVM

<div class="form-title-row">
    <h1>About Technology</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            Present Screening System :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.ScreeningSystem, new { htmlAttributes = new { @class = "checkbox" } })            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Interest in Digital :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.InterestInDigital, new { htmlAttributes = new { @class = "checkbox" } })
        </div>
        </div>
    
    <br />
    <div class="row">
        <div class="col-xs-5">
            Ticket Booking System :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.BookingSystem, new { htmlAttributes = new { @class = "checkbox" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Accepted Payment type :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.PaymentType, new { htmlAttributes = new { @class = "checkbox" } })        
        </div>
    </div>
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />