﻿@model SNS.ApiModels.OTPModel
@{
    ViewBag.Title = "S & S User Creation";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/resources/screen1/styles/admin_login_style.css">
<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-3">
            <div class="row" style="background-color:white">
                <div class="col-xl-12">
                    <div class="form-group">
                        <span>LOGIN</span>
                    </div>
@using (Html.BeginForm("CustomerLogin", "Admin", FormMethod.Post, new { }))
{
                    <div class="form-group">
                        <input type="text" name="txtUserId" placeholder="EmailID" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtUserId" placeholder="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnLogin" value="Login" class="btn btn-primary form-control" />
                    </div>
}
                </div>
            </div>
        </div>


        <div class="col-xl-1">

        </div>
        @*@using (Html.BeginForm("SignUp", "Admin", FormMethod.Post, new { role = "form" }))
            {*@

        <div class="col-xl-3">
            <div class="row" style="background-color:white">
                <div class="col-xl-12">
                    @using (Ajax.BeginForm("GenerateOTP", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { role = "form" }))
                    {

                        <div class="form-group">
                            <span>SIGNUP</span>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @*<select class="form-control" style="height:35px;">
                                    <option value="Exhibitor">Exhibitor</option>
                                    <option value="Producers">Producers</option>
                                    <option value="Entrepreneurs">Entrepreneurs</option>
                                </select>*@

                            @Html.DropDownList("Category", new SelectList(ViewBag.Category), new { @class = "form-control", @style = "height:35px;" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txtEmailId", @class = "form-control", @placeholder = "EmailID" } })
                            @*<input type="text" name="txtEmailId" id="txtEmailId" placeholder="EmailID" class="form-control" />*@
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnRequestOTP" id="btnRequestOTP" value="Request OTP" class="btn btn-primary form-control" />
                        </div>
                    }
                    @using (Html.BeginForm("VerifyOTP", "Admin", FormMethod.Get, new { role = "form" }))
                    {
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "txtOtp", @class = "form-control", @placeholder = "ENTER OTP" } })

                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnVerfiyOTP" value="Verify OTP" class="btn btn-success form-control" />
                        </div>
                    }
                </div>

            </div>
        </div>

        <div class="col-xl-3">

        </div>
    </div>

</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    function OnSuccess(response) {
        alert(response.data)
    }
    function OnFailure() {
        alert("Failure")
    }
    $(document).ready(function () {

        //$("#btnRequestOTP").click(function () {
        //    $.ajax({
        //        type: "POST",
        //        dataType: "json",
        //        contentType: "application/json",
        //        data: { Email: $("txtEmailId").val(), Category: "Exhibitor", Password  : "Test12345" },
        //        url: "http://localhost:5580/Admin/GenerateOTP",
        //        success: function (data) {
        //            alert(data)

        //        },
        //        error:function(error)
        //        {

        //        }
        //    });

        //})


    });

</script>