﻿
@{
    ViewBag.Title = "USC Screen";
}

<html>
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/resources/screen1/styles/admin_login_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body onload='document.loginForm.username.focus();'>


    <div id="login-box">

        @*<form name='loginForm' method='POST' class="login" action="sampleController.htm?action=adminlogin">*@


        @using (Html.BeginForm("SetScreen", "Admin", FormMethod.Post, new {@class="login" , @name="loginForm"}))
        {

        @Html.AntiForgeryToken()
        <center><p>User Screen Code</p></center>
        <hr>
        <ul>
            <li>

                <input type='text' name='USC' value='' placeholder="USC Code">
                <input name="EmailID" type="hidden" value="@ViewBag.EmailID" />
                <input name="Category" type="hidden" value="@ViewBag.Category" />
            </li>


            <li>
                <input name="submit" type="submit" value="Submit" />
                @*<input name="submit" type="submit" value="LOGIN" onClick="window.location.href='sampleController.htm?action=dashboard'" />*@
            </li>

        </ul>
        }

        @*</form>*@
    </div>

</body>
</html>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    function OnSuccess(response) {
        alert(response.data)
    }
    function OnFailure() {
        alert("Failure")
    }   

</script>