﻿@using SNS.Models
@model LoginViewModel
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seatsandshow</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/Customer/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Customer/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/Customer/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/Customer/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/Customer/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Customer/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Content/Customer/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/Customer/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/Customer/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/Customer/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/Customer/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/Customer/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/Customer/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/Customer/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container-fluid">
            <div>
                <img src="~/images/SNS-logo.png" class="pull-left" style="width: 250px;">
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Sign Up</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Click Me</div>
                                </div>
                                <div class="form">
                                    <h3>Login to your account</h3>


                                    <!--
                                                                            <form action="#" method="post">
                                    <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="submit" value="Login">
                                            -->
                                    @using (Html.BeginForm("ExhibitorLogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <br />
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        <br />
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <br />
                                        <input type="submit" value="LOGIN" class="btn btn-default" />
                                        @*<p>
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>*@
                                        @* Enable this once you have account confirmation enabled for password reset functionality
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>*@
                                    }





                                </div>
                                <div class="form">
                                    <h3>Create an account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="email" name="Email" placeholder="Email Address" required="">
                                        <input type="text" name="Phone" placeholder="Phone Number" required="">
                                        <input type="submit" value="Register">
                                    </form>
                                </div>
                                <div class="cta"><a href="#">Forgot your password?</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Action</a></li>
                                                <li><a href="genres.html">Biography</a></li>
                                                <li><a href="genres.html">Crime</a></li>
                                                <li><a href="genres.html">Family</a></li>
                                                <li><a href="horror.html">Horror</a></li>
                                                <li><a href="genres.html">Romance</a></li>
                                                <li><a href="genres.html">Sports</a></li>
                                                <li><a href="genres.html">War</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Adventure</a></li>
                                                <li><a href="comedy.html">Comedy</a></li>
                                                <li><a href="genres.html">Documentary</a></li>
                                                <li><a href="genres.html">Fantasy</a></li>
                                                <li><a href="genres.html">Thriller</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Animation</a></li>
                                                <li><a href="genres.html">Costume</a></li>
                                                <li><a href="genres.html">Drama</a></li>
                                                <li><a href="genres.html">History</a></li>
                                                <li><a href="genres.html">Musical</a></li>
                                                <li><a href="genres.html">Psychological</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="series.html">Filmy News</a></li>
                            <li><a href="news.html">Trade Gossips</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Success Stories <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Ajanta Theatre</a></li>
                                                <li><a href="genres.html">Bhuswal Maharashtra</a></li>
                                                <li><a href="genres.html">Success story video</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Ajanta Theatre</a></li>
                                                <li><a href="genres.html">Bhuswal Maharashtra</a></li>
                                                <li><a href="genres.html">Success story video</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Ajanta Theatre</a></li>
                                                <li><a href="genres.html">Bhuswal Maharashtra</a></li>
                                                <li><a href="genres.html">Success story video</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="short-codes.html">Announcements</a></li>
                            <li><a href="list.html">A - Z list</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    <!-- banner -->
    <div>
        @RenderBody()
        <hr />
    </div>
    <!-- //Latest-tv-series -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid" style="color:white;">
                <div class="col-md-4 w3ls_footer_grid_left">
                    <h3>Choose your Login:</h3>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select style="color:black;" class="form-control">
                            <option selected="selected">Select from List</option>
                            <option disabled>Producer</option>
                            <option>Exhibitor</option>
                            <option disabled>Entrepreneur</option>
                        </select>
                        <div class="w3l_sign_in_register">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">(or)</div>
                    <div class="form-group">
                        <label for="insertCode">Insert Code:</label>
                        <input type="text" placeholder="USC" class="form-control" />
                        <div class="w3l_sign_in_register">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#uscNumber">Go</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 w3ls_footer_grid_right">
                    &nbsp;
                </div>
                <div class="col-md-4 w3ls_footer_grid_right">
                    <img src="~/images/SNS-logo.png" style="width: 250px;" />
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; All rights reserved | Design by <a href="http://www.synapteinsolutions.com/">Synaptein Solutions</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="genres.html">Movies</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="horror.html">Action</a>
                    </li>
                    <li>
                        <a href="genres.html">Adventure</a>
                    </li>
                    <li>
                        <a href="comedy.html">Comedy</a>
                    </li>
                    <li>
                        <a href="icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>


    <!-- ENTERING USC
       <div class="modal video-modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="uscNumber">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       Signing Up with USC
                   </div>
                   <section>
                       <div class="modal-body">
                           <div class="w3_login_module">
                               <div class="module form-module">
                                   <div class="toggle">
                                       <i class="fa fa-times fa-pencil"></i>
                                   </div>
                                   <div class="form">
                                       <h3>Exhibitor Details</h3>
                                       <form action="#" method="post">
                                           <input type="text" name="TheatreName" placeholder="Theatre Name" readonly>
                                           <input type="text" name="TheatreAddress" placeholder="Theatre Address" readonly>
                                           <input type="text" name="EmailID" placeholder="Email ID" readonly>
                                           <input type="button" value="Request OTP" class="btn btn-default" style="width:50%;" />

                                           <input type="text" name="InsertOTP" placeholder="Insert OTP" required="">

                                           <input type="submit" value="Verify Account" class="btn btn-default" data-toggle="modal" data-target="#createLoginWithUSC" />
                                       </form>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </section>
               </div>
           </div>
       </div>
    -->
    <!-- // -->
    <div class="modal video-modal fade" id="uscNumber" tabindex="-1" role="dialog" aria-labelledby="uscNumber">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Signing Up with USC
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                </div>
                                <div class="form">
                                    <h3>Exhibitor Details</h3>
                                    <input type="text" name="TheatreName" placeholder="Theatre Name" readonly>
                                    <input type="text" name="TheatreAddress" placeholder="Theatre Address" readonly>
                                    <input type="text" name="EmailID" placeholder="Email ID" readonly>
                                    <input type="button" value="Request OTP" class="btn btn-default" style="width:50%;" />

                                    <input type="text" name="InsertOTP" placeholder="Insert OTP" required="">

                                    <input type="submit" value="Verify Account" class="btn btn-default VerifyAccount f1" data-toggle="modal" data-target="#createLoginWithUSC" />

                                </div>
                                <div class="form">
                                    <h3>Exhibitor Log-in Creation</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="InsertUSC" placeholder="Insert USC">
                                        <input type="text" name="Username" placeholder="Username">
                                        <input type="password" name="Password" placeholder="Password">
                                        <input type="password" name="Confirm-Password" placeholder="Confirm-Password" />
                                        <input type="submit" value="Login" class="btn btn-default" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $('.f1').click(function () {
            // Switches the Icon
            $(this).children('input[type="submit"]').toggleClass('VerifyAccount');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
        </script>
        <!--Create LOGIN with USC
        < div class="modal video-modal fade" id= "createLoginWithUSC" tabindex= "-1" role= "dialog" aria- labelledby="uscNumber" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Exhibitor Log-in
                        </div>
                    <section>
                        <div class="modal-body">
                            <div class="w3_login_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                    </div>
                                    <div class="form">
                                        <h3>Create Log-in</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="InsertUSC" placeholder="Insert USC">
                                                <input type="text" name="Username" placeholder="Username">
                                                    <input type="password" name="Password" placeholder="Password">
                                                        <input type="password" name="Confirm-Password" placeholder="Confirm-Password" />
                                                        <input type="submit" value="Login" class="btn btn-default" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                        </section>
                            </div>
                        </div>
            </div>
                    -->
        <!-- //footer -->
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Content/Customer/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
                $(document).ready(function () {
                                /*
                                    var defaults = {
                                    containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear'
                                    };
                                */

                                $().UItoTop({ easingType: 'easeOutQuart' });

                            });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>