﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS-->
    <link href="~/Content/resources/screen1/styles/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/resources/screen1/styles/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template-->
    <link href="~/Content/resources/screen1/styles/sb-admin.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Dashboard","Home")">S&S&nbsp;<span>OnBoarding</span></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            @if (Request.IsAuthenticated)
            {
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <a class="nav-link" href="@Url.Action("Dashboard", "Home")">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sales Agent">
                            <a class="nav-link" href="@Url.Action("SalesAgent", "Home")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="nav-link-text">Sales Agent</span>
                            </a>
                        </li>
                    }
                 
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Customers">
                            <a class="nav-link" href="@Url.Action("Customer", "Home")">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="nav-link-text">Customers</span>
                            </a>
                        </li>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                            <a class="nav-link" href="#">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                <span class="nav-link-text">Settings</span>
                            </a>

                        </li>
                    }

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logout">
                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span class="nav-link-text">Logout</span>
                            </a>

                        </li>
                    }

                </ul>
                <ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            @User.Identity.GetUserName()
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Admin")">
                            Login
                        </a>
                    </li>
                </ul>

            }

        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqdatatable")
</body>
</html>
